<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">
    <title>Home</title>
</head>
<body>
    <div id="main">
    <h1>TECHCURATORS ASSIGNMENT</h1>
    <form action="/add_data" method="POST" id="addDataForm">
    <div class="box">
    <label for="sheet">Enter sheet link:</label>
    <input type="text" name="sheet" id="sheet" autocomplete="off" required>
</div>
<div class="box">
    <label for="sheet">Enter name of first Sheet</label>
    <input type="text" name="name" id="name" autocomplete="off" required>
</div>
    <button type="submit">Enter</button>
</form>
    <form action="/get_data_by_difficulty" >
        <label for="sheet">Filter difficulty Level:</label>
        <select name="difficulty" id="difficulty">
            <option value="Easy">Easy</option>
            <option value="Medium">Medium</option>
            <option value="Hard">Hard</option>
        </select>
        <button type="submit">Enter</button>
    </form>
    <form action="get_data">
        <button type="submit">Show All Entries so far</button> 
     </form>
    </div>
</body>
</html>